<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.AppCodeMapper">
  <resultMap id="BaseResultMap" type="com.beans.AppCode">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="port" jdbcType="VARCHAR" property="port" />
    <result column="db_id" jdbcType="VARCHAR" property="db_id" />
    <result column="db_name" jdbcType="VARCHAR" property="db_name" />
    <result column="is_online" jdbcType="INTEGER" property="is_online" />
    <result column="shop_id" jdbcType="VARCHAR" property="shop_id" />
    <result column="app_poi_code" jdbcType="VARCHAR" property="app_poi_code" />
    <result column="shop_name" jdbcType="VARCHAR" property="shop_name" />
    <result column="package_bag_skuid" jdbcType="VARCHAR" property="package_bag_skuid" />
    <result column="app_id" jdbcType="VARCHAR" property="app_id" />
    <result column="app_secret" jdbcType="VARCHAR" property="app_secret" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, port, db_id, db_name, is_online, shop_id, app_poi_code, shop_name, package_bag_skuid, 
    app_id, app_secret
  </sql>
  <select id="selectByExample" parameterType="com.beans.AppCodeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from app_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_code
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from app_code
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.beans.AppCodeExample">
    delete from app_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.beans.AppCode">
    insert into app_code (id, port, db_id, 
      db_name, is_online, shop_id, 
      app_poi_code, shop_name, package_bag_skuid, 
      app_id, app_secret)
    values (#{id,jdbcType=INTEGER}, #{port,jdbcType=VARCHAR}, #{db_id,jdbcType=VARCHAR}, 
      #{db_name,jdbcType=VARCHAR}, #{is_online,jdbcType=INTEGER}, #{shop_id,jdbcType=VARCHAR}, 
      #{app_poi_code,jdbcType=VARCHAR}, #{shop_name,jdbcType=VARCHAR}, #{package_bag_skuid,jdbcType=VARCHAR}, 
      #{app_id,jdbcType=VARCHAR}, #{app_secret,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.beans.AppCode">
    insert into app_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="port != null">
        port,
      </if>
      <if test="db_id != null">
        db_id,
      </if>
      <if test="db_name != null">
        db_name,
      </if>
      <if test="is_online != null">
        is_online,
      </if>
      <if test="shop_id != null">
        shop_id,
      </if>
      <if test="app_poi_code != null">
        app_poi_code,
      </if>
      <if test="shop_name != null">
        shop_name,
      </if>
      <if test="package_bag_skuid != null">
        package_bag_skuid,
      </if>
      <if test="app_id != null">
        app_id,
      </if>
      <if test="app_secret != null">
        app_secret,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="port != null">
        #{port,jdbcType=VARCHAR},
      </if>
      <if test="db_id != null">
        #{db_id,jdbcType=VARCHAR},
      </if>
      <if test="db_name != null">
        #{db_name,jdbcType=VARCHAR},
      </if>
      <if test="is_online != null">
        #{is_online,jdbcType=INTEGER},
      </if>
      <if test="shop_id != null">
        #{shop_id,jdbcType=VARCHAR},
      </if>
      <if test="app_poi_code != null">
        #{app_poi_code,jdbcType=VARCHAR},
      </if>
      <if test="shop_name != null">
        #{shop_name,jdbcType=VARCHAR},
      </if>
      <if test="package_bag_skuid != null">
        #{package_bag_skuid,jdbcType=VARCHAR},
      </if>
      <if test="app_id != null">
        #{app_id,jdbcType=VARCHAR},
      </if>
      <if test="app_secret != null">
        #{app_secret,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.beans.AppCodeExample" resultType="java.lang.Long">
    select count(*) from app_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update app_code
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.port != null">
        port = #{record.port,jdbcType=VARCHAR},
      </if>
      <if test="record.db_id != null">
        db_id = #{record.db_id,jdbcType=VARCHAR},
      </if>
      <if test="record.db_name != null">
        db_name = #{record.db_name,jdbcType=VARCHAR},
      </if>
      <if test="record.is_online != null">
        is_online = #{record.is_online,jdbcType=INTEGER},
      </if>
      <if test="record.shop_id != null">
        shop_id = #{record.shop_id,jdbcType=VARCHAR},
      </if>
      <if test="record.app_poi_code != null">
        app_poi_code = #{record.app_poi_code,jdbcType=VARCHAR},
      </if>
      <if test="record.shop_name != null">
        shop_name = #{record.shop_name,jdbcType=VARCHAR},
      </if>
      <if test="record.package_bag_skuid != null">
        package_bag_skuid = #{record.package_bag_skuid,jdbcType=VARCHAR},
      </if>
      <if test="record.app_id != null">
        app_id = #{record.app_id,jdbcType=VARCHAR},
      </if>
      <if test="record.app_secret != null">
        app_secret = #{record.app_secret,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update app_code
    set id = #{record.id,jdbcType=INTEGER},
      port = #{record.port,jdbcType=VARCHAR},
      db_id = #{record.db_id,jdbcType=VARCHAR},
      db_name = #{record.db_name,jdbcType=VARCHAR},
      is_online = #{record.is_online,jdbcType=INTEGER},
      shop_id = #{record.shop_id,jdbcType=VARCHAR},
      app_poi_code = #{record.app_poi_code,jdbcType=VARCHAR},
      shop_name = #{record.shop_name,jdbcType=VARCHAR},
      package_bag_skuid = #{record.package_bag_skuid,jdbcType=VARCHAR},
      app_id = #{record.app_id,jdbcType=VARCHAR},
      app_secret = #{record.app_secret,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.beans.AppCode">
    update app_code
    <set>
      <if test="port != null">
        port = #{port,jdbcType=VARCHAR},
      </if>
      <if test="db_id != null">
        db_id = #{db_id,jdbcType=VARCHAR},
      </if>
      <if test="db_name != null">
        db_name = #{db_name,jdbcType=VARCHAR},
      </if>
      <if test="is_online != null">
        is_online = #{is_online,jdbcType=INTEGER},
      </if>
      <if test="shop_id != null">
        shop_id = #{shop_id,jdbcType=VARCHAR},
      </if>
      <if test="app_poi_code != null">
        app_poi_code = #{app_poi_code,jdbcType=VARCHAR},
      </if>
      <if test="shop_name != null">
        shop_name = #{shop_name,jdbcType=VARCHAR},
      </if>
      <if test="package_bag_skuid != null">
        package_bag_skuid = #{package_bag_skuid,jdbcType=VARCHAR},
      </if>
      <if test="app_id != null">
        app_id = #{app_id,jdbcType=VARCHAR},
      </if>
      <if test="app_secret != null">
        app_secret = #{app_secret,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.beans.AppCode">
    update app_code
    set port = #{port,jdbcType=VARCHAR},
      db_id = #{db_id,jdbcType=VARCHAR},
      db_name = #{db_name,jdbcType=VARCHAR},
      is_online = #{is_online,jdbcType=INTEGER},
      shop_id = #{shop_id,jdbcType=VARCHAR},
      app_poi_code = #{app_poi_code,jdbcType=VARCHAR},
      shop_name = #{shop_name,jdbcType=VARCHAR},
      package_bag_skuid = #{package_bag_skuid,jdbcType=VARCHAR},
      app_id = #{app_id,jdbcType=VARCHAR},
      app_secret = #{app_secret,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>